* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Space Mono", monospace;
}
body {
  background-color: #f5dae7;
}

.navbar {
  background-color: #196c7b;
  width: 100%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  height: 8rem;
  padding: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition properties */
  text-align: center;
}

.navbar:hover {
  background-color: #0b5e60; /* Change the background color on hover */
  transform: translateY(-5px); /* Add a slight upward lift on hover */
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.2); /* Modify the box shadow */
}
.navbar-header {
  color: aliceblue;
  font-weight: 900;
  font-size: 3rem;
  margin-left: 2rem;
}

.logo {
  width: 18rem;
  height: 6rem;
}

.homepage-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 2rem;
}


.learn-button,
.quiz-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: large;
  font-weight: 800;
  width: 10rem;
  margin: 8px;
  height: 6rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  background-color: #196c7b; /* Blue background color */
  transition: background-color 0.3s,
    transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); /* Smooth transitions for background color and transform with cubic-bezier timing function */
  &:hover {
    background-color: #0b5e60; /* Darker blue on hover */
    transform: scale(1.1);
  }
}



.learn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flashcard-image {
  width: 4rem;
  height: 4rem;
  border-radius: 5px;
}

.flashcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition properties */
  &:hover {
    transform: scale(1.1);
  }
}
.flashcard-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Six items per row */
  gap: 16px; /* Adjust the gap between items as needed */
}

.quizpage-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
}

.quiz-button {
  width: 17rem;
}

.quiz1page-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.quiz1finish-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: small;
  font-weight: 800;
  width: 12rem;
  height: 4rem;
  padding: 0.5rem;
  cursor: pointer;
  margin-top: 2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #196c7b; /* Blue background color */
  transition: background-color 0.3s,
    transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); /* Smooth transitions for background color and transform with cubic-bezier timing function */
  &:hover {
    background-color: #0b5e60; /* Darker blue on hover */
    transform: scale(1.02);
  }
}

.imageoptiongrid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two items per row */
  gap: 1.6rem; /* Adjust the gap between items as needed */
}

.image-options {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
}

.image-question {
  width: 6rem;
  height: 6rem;
}

.textoptiongrid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two items per row */
  gap: 1.6rem; /* Adjust the gap between items as needed */
  align-items: center;
}

.text-option {
  width: 4rem;
  height: 3rem;
}

.question{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.nextquestionbutton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

ul {
  list-style-type: none;
}

.correct-option {
  border-color: green;
}

.incorrect-option {
  border-color: red;
}

.nextques{
  width: 5rem;
  border-radius: 10px;
  border: none;
  height: 3rem;
  color: white;
  background-color: #2e6b31;
  cursor: pointer;
  transition: background-color 0.3s,
    transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); /* Smooth transitions for background color and transform with cubic-bezier timing function */
  &:hover {
    background-color: #214e24; /* Darker green on hover */
    transform: scale(1.02);
  }
}

.hbuttons{
  display: flex;
  flex-direction: row;
}